<%= stylesheet "welcome.css" %>
<% title "AppBuilder"%>

<div id="welcome">
  <div id="tour">
    <a href="http://www.slideshare.net/knightfour/app-builder-tour-8409">
      <img src="/images/welcome/appbuilder-tour.jpg" />
    </a>
  </div>
  <div id="data-roll">
    <div id="login">
      <h1>Sign up now and start creating Kynetx Apps for FREE!</h1>
      <%= link_to "<img src='/images/welcome/AppBuilderLogin.gif'/>", oauth_connect_path, :id => "login-link" %>
    </div>
    <h2><a href="http://code.kynetx.com">Developer Blog</a></h2>
    <p>Visit <a href="http://code.kynetx.com">code.kynetx.com</a> for resources, developer exchange, full documentation, tutorials, sample code and more!</p>
    <h2><a href="http://marketplace.kynetx.com">Kynetx Marketplace</a></h2>
    <p>Check out available Kynetx Apps for sale or free. Or, create and list yours on <a href="http://marketplace.kynetx.com">Markeplace</a> in minutes.</p>
    <h2><a href="http://kynetx.com">Kynetx.com</a></h2>
    <p>Learn more about the <a href="http://kynetx.com">Kynetx</a> company and platform. Check out information about Kynetx news, events, partners and more.</p>
  </div>
</div>
