<%= app_menu :distribute, params[:id], "Site Tags" %>

<!-- TODO: Get this from the api -->
<div class="simple_surround">
	&lt;script type=&quot;text/javascript&quot;&gt;<br>
	&nbsp;&nbsp;var KOBJ_config ={ &quot;rids&quot;  : [&quot;<%= current_application.application_id %>&quot;] };<br>
	&lt;/script&gt;<br>
	&lt;script type=&quot;text/javascript&quot; src=&quot;http://init.kobj.net/js/shared/kobj-static.js&quot;&gt;&lt;/script&gt;
</div>